# -------------------- AUTH --------------------
TOKEN_EXPIRE_MAX=30d   # Max token validity
TOKEN_EXPIRE_MIN=24h   # Min token validity
JWT_SECRET_ADMIN=@+JYOTISA$+12+$SASTRA$+11+$Admin$+2025+_@   # Admin JWT secret key

# -------------------- SERVER --------------------
PORT=5005
NODE_ENV= 'development' 

# -------------------- AUDIT --------------------
AUDIT_ENABLE=FALSE
AUDIT_DETAIL_ENABLE=FALSE
AUDIT_LOG_EXCLUDE_METHODS=Update,Delete,Scheduler,BulkCreate,BulkUpdate,BulkCreateUpdate,BulkDelete
AUDIT_EXCLUDE_SERVER_SIDE_FILTERS=false
MONGO_AUDIT_DETAIL_ENABLE= FALSE

# -------------------- SQL DATABASE --------------------
DB_USERNAME = 'root'
DB_PASSWORD = ''
DB_NAME = 'Base_Project'
DB_HOST =  'localhost'
DB_PORT = 3306
dialect= "mysql"

max= 5 
min= 0
acquire= 30000
idle= 10000

# -------------------- DATABASE --------------------
MONGO_DB= base_project
MONGODB_URL=mongodb://localhost:27017/

# -------------------- SCHEDULER --------------------
ENABLE_SCHEDULAR=false  # Enable or disable cron/scheduler jobs


SuperPassword = '123456'
FRONTEND_URL = ''

# -------------------- Mail --------------------
MailHost =
MailPort =
MailAuthUser =
MailAuthPassword =
MailAuthEmail =

# -------------------SE3-----------------------
S3_BUCKET=
S3_FOLDER=